h1 {
  border: 1px black solid;
  text-align: center;
}

h2 {
  border: 1px black solid;
  text-align: center;
}

.gameContainer {
  margin: auto;
  border: 1px black solid;
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.mainCell {
  border: 1px blue solid;
  /* height: 150px;
  width: 150px; */
  /* margin: 0; */
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.subCell {
  border: 1px black solid;
}
