body {
  margin: 0;
  /* background-color: ; */
}

h1 {
  /* border: 1px black solid; */
  text-align: center;
  margin-top: 30px;
  font-family: "Rock Salt", cursive;
}

h3 {
  /* border: 1px black solid; */
  text-align: center;
}

h4 {
  /* border: 1px black solid; */
  text-align: center;
  font-family: "Rock Salt", cursive;
  margin-top: 40px;
}

.gameContainer {
  margin: 0 auto;
  /* border: 15px blue solid; */
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  box-shadow: 10px 10px 10px grey;
}

.mainCell {
  border: 5px black solid;
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 15px;
}

.subCell {
  border: 1px black solid;
}

.hoverPlayerO {
  background-color: Red;
  transition: background-color 1s ease;
}

.hoverPlayerX {
  background-color: blue;
  transition: background-color 1s ease;
}

.buttonContainer {
  /* border: 1px black solid; */
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.buttonContainer > button {
  margin: 0 20px;
  width: 150px;
  height: 40px;
  font-size: large;
}

.instructionContainer {
  /* border: 1px black solid; */
  height: 530px;
  width: 100%;
  position: absolute;
  top: 110px;
  justify-content: center;
  display: none;
}

h2 {
  text-align: center;
  font-family: "Rock Salt", cursive;
  /* border: 1px black solid; */
  margin: 0;
  text-decoration: underline;
}

.instructionContainer > div {
  width: 600px;
  height: 100%;
  border: 2px black solid;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 10px grey;
  background-color: papayawhip;
}

.instructionContainer > div > ul > li {
  text-align: justify;
  padding-right: 40px;
  margin-top: 6px;
  /* border: 1px red solid; */
}

table {
  border: 1px black solid;
  border-collapse: collapse;
  justify-content: center;
}
td {
  border: 1px black solid;
  text-align: center;
  width: 30px;
  height: 10px;
}
